@import url(backgroundTemplates.css);
@import url(fontStyles.css);
* {
    box-sizing: border-box;
}



body{
    display: flex;
    flex-direction: column;
}
#border{
    border: black solid;
}

/* === Header Styles === */

header{
    background-color: #E4E2E2;
    display: flex;
    border-bottom: solid black;
    max-width: 1710px;
    height: 22px;
    top: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    border-right: solid black;
    padding: 1px 4px 0 3.8px;
    cursor: pointer;
}
#fontSlider{
    border:none;
}
#slider{
    cursor: pointer;
    padding-left: 10px;
}

/* === Track Styles === */

#backgroundTrack{
    overflow-y: visible;
    overflow-x: hidden;
    border-right: solid black;
    width: 210px;
    height: 800px;
}
#backgroundTrack img{
    display: flex;
    border: solid black 2px;
    margin: 5px;
    width: 195px;
    cursor: pointer;
}
#fontChange{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 130px;
    z-index: 1;
}
.font{
    display: block;
    background-color: #E4E2E2;
    padding: 5px;
}
.font:hover{
    background-color: #ddd;
}
.show{
    display: block;
}

/* Scrollbar settings */

#backgroundTrack::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: #c5c3c3;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

/* When Printed Only Prints The Preview Window */
@media print {
    @page {
        margin: 0;
        size: 1500px 850px;
    }
    *{
        border: none;
    }
    body{
        align-items: center;
        justify-content: center;
    }
    #fileHandlers{
        display: none;
    }
    #backgroundTrack{
        display: none;
    }
    #border{
        border: none;
    }
    #PreviewContainer{
        display: none;
    }
    .preview{
        padding: 0;
        width: 100%;
        page-break-after: always;
        break-after: always;
        border: none;
    }
}
#OutputWindow{
    width: 1506px;
    clear: both;
    margin: auto;
}

#DownloadTemplate a{
    text-decoration: none;
    color: black;
}
#ImportSig{
    visibility:hidden;
}
#intructerSig{
    cursor: grab;
}
#PreviewContainer > div{
    height: fit-content;
    width: fit-content;
    cursor: grab;
}
#PreviewContainer > div:active{
    height: fit-content;
    width: fit-content;
    cursor: grabbing;
}